# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/
.coverage
htmlcov/
*.coverage

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Database (если используете SQLite)
*.db
*.sqlite3

# Environment variables
.env
.env.local

